/* .container {
    background-color: green;
} */

/* #checkBoxed:checked ~ p{
    background-color: red;

}

#checkBoxed:checked + .p-tag {
    background-color: red;
} */

#checkBoxed:checked~.p-tag {
    background-color: red;
}